@model CheckAPIModel
@{
    ViewData["Title"] = "Currency";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var modeldata = Model;
    var selectList = new SelectList(
    new List<SelectListItem>
    {
                new SelectListItem {Text = "US Dollor", Value = "USD"},
                new SelectListItem {Text = "Euro", Value = "Euro"},
                new SelectListItem {Text = "British Pound", Value = "BPD"},
                new SelectListItem {Text = "Aus Dollor", Value = "AUD"},
            }, "Value", "Text");
}
<h2>Api</h2>
<div class="sidenav">
    <ul class="sidemenu">
        <li><button class="buttonblock" onclick="location.href='@Url.Action("Dictionary", "ApiController")'">Dictionary</button></li>
        <li><button class="buttonblock" onclick="location.href='@Url.Action("Currency", "ApiController")'">Currency</button></li>
        <li><button class="buttonblock" type="button" onclick="location.href='@Url.Action("Travel", "ApiController")'">Travel</button></li>
        <li><button class="buttonblock" type="button" onclick="location.href='@Url.Action("NewsApi", "ApiController")'">News</button></li>
        <li><button class="buttonblock" onclick="showPremResults()">Results</button></li>
    </ul>
</div>
<div class="textbox" id="CurrencyTextBox">
    <h3 class="centreheader" id="CurrencyApi"><u>Currency</u></h3>
    <br />
    <div id="divdisplayCurrency">
        @using (Html.BeginForm("CurrencyApi", "Api", FormMethod.Post))
        {
            <div>
                <span>
                    @Html.DropDownListFor(m => m.CurrencyToConvert,
                        selectList,
                        "Convert From")

                    @Html.DropDownListFor(m => m.CurrencyConverted,
                        selectList,
                        "Convert To")

                    @Html.LabelFor(m => m.AmmountToConvert)
                    @Html.TextBoxFor(m => m.AmmountToConvert)

                    <input type="submit" value="Currency" />
                </span>
            </div>
        }
    </div>
</div>
<script>
    $(document).ready(function () {
        document.getElementById("CurrencyTextBox").style.display = "block";
        document.getElementById("DictionaryTextBox").style.display = "none";
        document.getElementById("TravelTextBox").style.display = "none";
        document.getElementById("NewsTextBox").style.display = "none";
    })
</script>

