@model CheckAPIModel
@{
    ViewData["Title"] = "Dictionary";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var modeldata = Model;
}
<h2>Api</h2>
<div class="sidenav">
    <ul class="sidemenu">
        <li><button class="buttonblock" onclick="location.href='@Url.Action("Dictionary", "ApiController")'">Dictionary</button></li>
        <li><button class="buttonblock" onclick="location.href='@Url.Action("Currency", "ApiController")'">Currency</button></li>
        <li><button class="buttonblock" type="button" onclick="location.href='@Url.Action("BusStopInfo", "ApiController")'">Bus Stop Info</button></li>
        <li><button class="buttonblock" type="button" onclick="location.href='@Url.Action("TrainTimes", "ApiController")'">Train Times</button></li>
        <li><button class="buttonblock" type="button" onclick="location.href='@Url.Action("NewsApi", "ApiController")'">News</button></li>
        <li><button class="buttonblock" onclick="showPremResults()">Results</button></li>
    </ul>
</div>
<div class="textbox" id="DictionaryTextBox" display="none">
    <h3 class="centreheader" id="DictionaryApi"><u>Dictionary</u></h3>
    <br />
    <div id="divdisplayDictionary">
        @using (Html.BeginForm("DictionaryApi", "Api", FormMethod.Post))
        {
            <div class="labeltext">
                <span>
                    @Html.LabelFor(m => m.WordToSearch)
                </span>
                <span>
                    @Html.TextBoxFor(m => m.WordToSearch, new { @style = "text-align:center" })
            </span>
            <span>
                <input class="selectbutton" type="submit" value="Search" />
            </span>
        </div>
        }
        @if (modeldata?.DictionaryData != null)
        {
            <h3><em>@Model.DictionaryData.Lexical</em></h3>
            <ul style="list-style-type:circle;">
                @foreach (var item in modeldata.DictionaryData.Definitions)
                {
                    <li><b>@item</b></li>
                }
            </ul>
        }
    </div>
</div>
<script>
    $(document).ready(function () {
        document.getElementById("CurrencyTextBox").style.display = "none";
        document.getElementById("DictionaryTextBox").style.display = "block";
        document.getElementById("TravelTextBox").style.display = "none";
        document.getElementById("NewsTextBox").style.display = "none";
    })
</script>

