@model CheckAPIModel
@{
    ViewData["Title"] = "News";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var modeldata = Model;
}
<h2>Api</h2>
<div class="sidenav">
    <ul class="sidemenu">
        <li><button class="buttonblock" onclick="location.href='@Url.Action("Dictionary", "ApiController")'">Dictionary</button></li>
        <li><button class="buttonblock" onclick="location.href='@Url.Action("Currency", "ApiController")'">Currency</button></li>
        <li><button class="buttonblock" type="button" onclick="location.href='@Url.Action("Travel", "ApiController")'">Travel</button></li>
        <li><button class="buttonblock" type="button" onclick="location.href='@Url.Action("NewsApi", "ApiController")'">News</button></li>
        <li><button class="buttonblock" onclick="showPremResults()">Results</button></li>
    </ul>
</div>
<div class="textbox" id="NewsTextBox">
    <h3 class="centreheader" id="NewsApi"><u>News</u></h3>
    <br />
    <div id="divdisplayNews">
        @if (modeldata?.NewsData != null)
        {
            @foreach (var item in modeldata.NewsData)
            {
                <div class="textboxitem" style="display:block">
                    <h3>@item.Title</h3>
                    <p>@item.Description</p>
                    <p>@item.Content</p>
                    <p>@item.Author - @item.Source</p>
                </div>
            }
            <script>showNews();</script>
        }
    </div>
</div>
<script>
    $(document).ready(function () {
        document.getElementById("CurrencyTextBox").style.display = "none";
        document.getElementById("DictionaryTextBox").style.display = "none";
        document.getElementById("TravelTextBox").style.display = "none";
        document.getElementById("NewsTextBox").style.display = "block";
    })
</script>

