@model CheckAPIModel
@{
    ViewData["Title"] = "Travel";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var modeldata = Model;
}
<h2>Api</h2>
<div class="sidenav">
    <ul class="sidemenu">
        <li><button class="buttonblock" onclick="location.href='@Url.Action("Dictionary", "ApiController")'">Dictionary</button></li>
        <li><button class="buttonblock" onclick="location.href='@Url.Action("Currency", "ApiController")'">Currency</button></li>
        <li><button class="buttonblock" type="button" onclick="location.href='@Url.Action("BusStopInfo", "ApiController")'">Bus Stop Info</button></li>
        <li><button class="buttonblock" type="button" onclick="location.href='@Url.Action("TrainTimes", "ApiController")'">Train Times</button></li>
        <li><button class="buttonblock" type="button" onclick="location.href='@Url.Action("NewsApi", "ApiController")'">News</button></li>
        <li><button class="buttonblock" onclick="showPremResults()">Results</button></li>
    </ul>
</div>
<div class="textbox" id="TravelTextBox">
    <h3 class="centreheader" id="TravelApi"><u>Travel</u></h3>
    <br />
    <div id="divdisplayTravel">
        @using (Html.BeginForm("TrainTimesApi", "Api", FormMethod.Post))
        {
            @Html.LabelFor(m => m.TrainStation)
            @Html.TextBoxFor(m => m.TrainStation)

            <input type="submit" value="Travel" />
        }
        @if (modeldata?.TrainData != null)
        {
            <br />
            <table style="width:100%" class="table table-hover table-dark">
                <thead>
                    <tr class="w3-light-grey">
                        <th>Train Date</th>
                        <th>Origin</th>
                        <th>Orign Time</th>
                        <th>Destination</th>
                        <th>Destination Time</th>
                        <th>Status</th>
                        <th>Last Location</th>
                        <th>Due In</th>
                        <th>Expected Arival</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.TrainData)
                    {
                        <tr>
                            <td>@item.TrainDate</td>
                            <td>@item.Origin</td>
                            <td>@item.OrignTime</td>
                            <td>@item.Destination</td>
                            <td>@item.DestinationTime</td>
                            <td>@item.Status</td>
                            <td>@item.LastLocation</td>
                            <td>@item.DueIn</td>
                            <td>@item.ExpectedArival</td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        <script>showTravel();</script>
    </div>
</div>
<script>
    $(document).ready(function () {
        document.getElementById("TrainTravelTextBox").style.display = "block";
        document.getElementById("BusTravelTextBox").style.display = "none";
        document.getElementById("CurrencyTextBox").style.display = "none";
        document.getElementById("DictionaryTextBox").style.display = "none";
        document.getElementById("NewsTextBox").style.display = "none";
    })
</script>

